/* Custom CSS when it's not possible to use REACT classic way */

/* Fix ReractQuill tooltip issue */
.ql-tooltip {
    white-space: normal !important;
}


.
    /* React Tags style */
.ReactTags__tags.react-tags-wrapper {
    width: 100%;
}

.ReactTags__tagInputField {
    width: 100%;
}

.ReactTags__tag {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
}
